/cert.p12
/legacy_host_key_ecdsa_256
/legacy_host_key_ecdsa_256.pub
/legacy_host_key_ecdsa_384
/legacy_host_key_ecdsa_384.pub
/legacy_host_key_ecdsa_521
/legacy_host_key_ecdsa_521.pub
/legacy_host_key_rsa_2048
/legacy_host_key_rsa_2048.pub
/sshd-license.txt
