html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: -65px;
}

#footer {
	height: 65px;
    width: 100%;
}

input[readonly] {
  background-color:transparent !important;
}