<div class="form-group col-12">
    <label for="${resourceKey}" class="col-form-label">${name}</label>
      <div id="${resourceKey}Text" class="input-group dropdown">
      <input id="${resourceKey}" name="${resourceKey}" type="hidden" value="">
	  <input id="${resourceKey}Text" class="dropdown-toggle form-control" readonly="readonly" 
	  		type="text" value="${value}"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  
	  <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-chevron-down"></i></span>
      </div>
      <small class="form-text text-muted">${description}</small>
	  <div class="dropdown-menu" aria-labelledby="${resourceKey}Text">
	  </div>
  </div>
</div>