::selection {
    background-color: #40e583;
    color: #fff;
}

a:hover {
	text-decoration: none;
}

body, body #app {
    height: 100%;
}

.navbar {
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    position: relative;
    height: 4.0625rem;
    padding-left: 1rem;
    padding-right: 2rem;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar {
    min-height: calc(100vh - 4.0625rem);
    height: calc(100% - 4.0625rem);
    position: absolute;
    width: 18.75rem;
    top: 4.0625rem;
    background-color: #ddd;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    overflow-y: auto;
}

.layout .content {
    margin-left: 18.75rem;
    -webkit-transition: margin-left .3s ease;
    transition: margin-left .3s ease;
    padding: 0;
}

.sidebar-menu {
    max-height: 100%;
    margin-bottom: 0;
    padding-top: 2.5625rem;
    padding-bottom: 2.5rem;
    list-style: none;
    padding-left: 0;
}

.sidebar-link {
    position: relative;
    min-height: 3rem;
    cursor: pointer;
    padding-left: .75rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    border-left: .25rem solid transparent;
    color: #000;
}

.sidebar-link:hover, .active {
	background-color: #aaa;
	color: #fff;
}

.sidebar-collapse {
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: .1rem;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.sidebar-icon {
    width: 1.5rem;
    min-width: 1.5rem;
    text-align: center;
    font-size: 19px;
    margin-right: .5rem;
}

.sidebar-title {
	
}

.active {
	
}